/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Cormorant Infant', serif;
  font-size: 5em;
  margin: 10px; }
  @media screen and (max-width: 750px) {
    h1 {
      font-size: 3.5em; } }
  @media screen and (min-width: 960px) {
    h1 {
      font-size: 7em; } }

h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.2em;
  letter-spacing: 4px; }
  @media screen and (max-width: 750px) {
    h2 {
      font-size: .85em; } }
  @media screen and (min-width: 960px) {
    h2 {
      letter-spacing: 4px; } }

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: .9em;
  margin: 5px;
  letter-spacing: 2px; }

h4 {
  font-family: 'Cormorant Infant', serif; }

p {
  font-size: 1em; }

li {
  font-family: 'Fjalla One', sans-serif; }

body {
  box-sizing: border-box;
  background-color: #D1D1C9;
  color: #ffffff; }
  body::-webkit-scrollbar {
    display: none; }

.hidden {
  display: none; }

.hero {
  position: relative;
  height: 500px;
  width: 100%;
  background: url("../img/hero-slide1.jpg") top center no-repeat;
  background-size: cover; }
  @media screen and (min-width: 960px) {
    .hero {
      height: 100vh; } }

.nav {
  display: flex;
  justify-content: space-between;
  position: relative; }
  .nav .logo {
    position: relative;
    margin: 20px;
    padding: 20px;
    width: 130px; }
    .nav .logo img {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      height: 40px; }
    .nav .logo h4 {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 0; }
  .nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none; }
    .nav ul li {
      position: relative;
      align-self: center;
      padding: 0px 20px;
      color: white; }
      .nav ul li h3 {
        float: left; }
      .nav ul li img {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%); }
        .nav ul li img#logo {
          position: relative;
          float: left; }
  .nav .menu-burger {
    height: 16px;
    width: 30px;
    margin: 25px; }
    .nav .menu-burger .burger-bar {
      height: 2px;
      margin: 5px 0;
      background: white; }
  @media screen and (max-width: 960px) {
    .nav ul {
      display: none; }
    .nav .menu-burger {
      display: inline-block; } }

.title {
  position: relative;
  margin: 8% auto;
  width: 100%;
  text-align: center; }
  .title #alaska {
    height: 80px;
    width: auto;
    margin: 10px auto; }
  .title .bottom-bar {
    height: 5px;
    width: 250px;
    margin: 25px auto;
    background: white; }

.press-play {
  position: relative;
  margin: 0 auto; }
  .press-play .button-back {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: white;
    opacity: .5; }
  .press-play img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 10px;
    height: 40%; }

.scroll-prompt {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 30px;
  height: 60px;
  width: 170px;
  background: #DC7725;
  border-radius: 7px; }
  .scroll-prompt h3 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 100%;
    margin: 0; }
  @media screen and (min-width: 960px) {
    .scroll-prompt {
      display: block; } }

.activities {
  position: relative;
  height: auto;
  width: 100%; }
  .activities .activity-tile {
    position: relative;
    height: 450px;
    width: 90%;
    margin: 5%;
    background: center center no-repeat;
    background-size: cover; }
    .activities .activity-tile .activity-icon {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 60px; }
      .activities .activity-tile .activity-icon .icon-back {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: #444444;
        opacity: .6; }
      .activities .activity-tile .activity-icon img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 35px; }
    .activities .activity-tile .activity-text {
      position: absolute;
      left: 40px;
      bottom: 40px; }
      .activities .activity-tile .activity-text .activity-bar {
        height: 5px;
        width: 30px;
        background: #DC7725; }
      .activities .activity-tile .activity-text h3 {
        font-size: 1.2em;
        margin: 0;
        margin-top: 15px; }

#rafting {
  background-image: url("http://arcticwild.com/wp-content/themes/arcticwild/assets/img/trips/home-raft.jpg"); }

/*# sourceMappingURL=main.css.map */
