.hidden {
  display: none;
}

.hero {
  position: relative;
  height: 500px;
  width: 100%;
  background: url("../img/hero-slide1.jpg") top center no-repeat;
  background-size: cover;
  @media screen and (min-width: 960px) {
    height: 100vh;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  .logo {
    position: relative;
    margin: 20px;
    padding: 20px;
    width: 130px;
    img {
      position: absolute;
      @include vertical-center;
      left: 0;
      height: 40px;
    }
    h4 {
      position: absolute;
      @include vertical-center;
      right: 0;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    li {
      position: relative;
      align-self: center;
      padding: 0px 20px;
      color: white;
      h3 {
        float: left;
      }
      img {
        position: absolute;
        @include vertical-center;
        &#logo {
          position: relative;
          float: left;
        }
      }
    }
  }
  .menu-burger {
    height: 16px;
    width: 30px;
    margin: 25px;
    .burger-bar {
      height: 2px;
      margin: 5px 0;
      background: white;
    }
  }
  @media screen and (max-width: 960px){
    ul {
      display: none;
    }
    .menu-burger {
      display: inline-block;
    }
  }
}

.title {
  position: relative;
  margin: 8% auto;
  width: 100%;
  text-align: center;
  #alaska {
    height: 80px;
    width: auto;
    margin: 10px auto;
  }
  .bottom-bar {
    height: 5px;
    width: 250px;
    margin: 25px auto;
    background: white;
  }
}

.press-play {
  position: relative;
  margin: 0 auto;
  .button-back {
    margin: 0 auto;
    height: 100px;
    width:100px;
    border-radius: 50%;
    background: white;
    opacity: .5;
  }
  img {
    position: absolute;
    @include full-center;
    padding-left: 10px;
    height: 40%;
  }
}

.scroll-prompt {
  position: absolute;
  @include horizontal-center;
  bottom: 30px;
  height: 60px;
  width: 170px;
  background: $highlight;
  border-radius: 7px;
  h3 {
    position: absolute;
    @include vertical-center;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  @media screen and (min-width: 960px) {
    display: block;
  }
}
